/* Start Global */
/* Fade Animation */
@keyframes fadeIn {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #616161;
  padding-top: 0px;
  
 }

 h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color:#212121;
  
 }


/* End Global */

/* Start Navbar */

.Hero{
  background-image:url(../assets/bg_2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.1rem;
}


.Nav{
  font-weight: 400;
  font-size: 16px;
  padding-left:0.5rem;
  padding-right:0.5rem;
  
}

.navbar .active{
  font-weight: 500;
}

#Navlight .active{
  color: #212121;
  font-weight: 500;
}

#Navlight :hover .active{
  color: #212121;
}

#Navlight :hover{
  color: #424242;
}

.Hero  h1 {
  font-weight: 500; 
}

.Hero p{
  font-weight: 400;
  color: #AAF0FF;
}
#history .his_one{
  background-color: #F5F5F5;
  font-weight: 400;
  color: #616161;
  border-radius: 12px;
  padding: 2rem;

  }

.footeruL{
  background-color: #212121;
  color: #bbbbbb;
  font-size: 16px;
  height:auto;
  margin-bottom: 0%;
}

model-viewer {
  background-color: #F5F5F5;
  overflow-x: hidden;
  width:auto;
  height:400px;
}

.model-box{
  background-color: white;
  }


#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}
#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}

.btn{
  border-radius: 3rem;
  
}



