body model-viewer{
    width:auto;
    height: 600px;
    margin-top:100px;
    border: grey solid 1pt;
    
}

.header{
padding:1rem;
height:1000px;
background-image: url(../assets/hero_image.jpg);
background-repeat: no-repeat, repeat;

}