/* Start Global */
/* Fade Animation */
@keyframes fadeIn {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  padding-bottom: 0px;
  
 }

 h1,h2,h3,h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#323232;
  
 }


/* End Global */

/* Start Navbar */

.Hero{
  background-image:url(../assets/bg_2.png);
  min-height: 600px;
  max-height: 800px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

#history{
  color:#323232;
}

.Nav{
  font-weight: 400;
  font-size: 16px;
  padding-left:0.5rem;
  padding-right:0.5rem;
}

.Nav .active{
  font-weight: 500;
}

#Navlight .active{
  color: #00A2C7;
  font-weight: 500;
}

#Navlight :hover .active{
  color: #00A2C7;
  font-weight: 500;
}

#Navlight :hover{
  color: #01C0EB;
}

.Hero  h1 {
  font-weight: 500; 
}

.Hero p{
  font-weight: 400;
  color: #AAF0FF;
}
#history .his_one{
  background-color: #DBDDDD;
  font-weight: 400;
  color: #727272;
  border-radius: 20px;
  padding: 3rem;

  }

.footeruL{
  background-color: #292b2c;
  color: #bbbbbb;
  font-size: 16px;
  height:auto;
  margin-bottom: 0%;
}

model-viewer {
  background-color: #DADADA;
  overflow-x: hidden;
  width:auto;
  height:400px;
}

.model-box{
  background-color: white;
   box-shadow: 0 2px 20px #cfd8dc;
  }


#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}
#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}



