body{
  background-color: white;
}
#Nav{
  padding-left: 10%;
  background-color: white;
  box-shadow: 0 2px 20px #cfd8dc;
}

.navbar-brand :hover  {
  transform: rotate(1turn);
  transition: all 1s ease-in-out;
}

.hero{

  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;
  margin-top:2%;
}

#hero-image{
  background-size: cover;
  height:auto;
  width:auto;
}

.timeline{
padding-top: 10%;
margin-left: 10%;
margin-right: 10%;
}

.timeline .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.timeline h2 {
  font-weight: 400;
}

.timeline .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}



#brown-logo{
  margin:2rem;
  background-size:contain;
  width: auto;
  height: auto;
  box-shadow: 0 2px 20px #cfd8dc;
}

.logo :hover #brown-logo,.logo :active #brown-logo  {
  background-size:contain;
  box-shadow: 0px 16px 30px #b0bec5;
   transition: all 1s ease-in-out;
 
}


#map-logo{
  margin:2rem;
  background-size: cover;
  width: auto;
  height: auto;
  box-shadow: 0 2px 20px #cfd8dc;
}

.logo :hover #mapLogo, .logo :active #mapLogo {
  background-size:contain;
  box-shadow: 0px 16px 30px #b0bec5;
   transition: all 1s ease-in-out;
  
}



model-viewer {
  margin:10%;
  background-color: #eee;
  overflow-x: hidden;
  --poster-color: #eee;
  width:auto;
  height:600px;
}

#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}
#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}