.Nav-bar{
    font-family: 'Inter', sans-serif;
    padding:1rem;
}

body model-viewer{
    padding:2rem;
    width:auto;
    height: 600px;
    margin-top:100px;
    background-color: aliceblue;
}

.header{
    font-family: 'Inter', sans-serif;
    color:white;
    text-align: center;
    padding:2rem;
    height:800px;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0.096)), url(../assets/hero_image.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
}
.clickMap{
    margin: 2rem;
}
 #mapClick{
background-color: aliceblue;     
text-align: center;
padding: 2rem;
 }

 #mapLocation{
     width: 100%;
     height: 100%;
 }